:root {
    --gunmetal: #2C3539;
    --light-grey: #E5E7EB;
    --white: #ffffff;
}

body, html {
    width:100%;
    height:100%;
}

* {
    margin:0;
    border:0;
    padding:0;
}

.banner {
    background-color: red;
    width:35vw;
}

.formArea {
    background-color: blue;
    width:65vw;
}

body {
    display:flex;
}