:root {
    --gunmetal: #2C3539;
    --light-grey: #E5E7EB;
    --white: #ffffff;
}

* {
    margin:none;
    border:none;
    padding:none;
}

.banner {
    background-color: red;
}

.formArea {
    background-color: blue;
}

body {
    display:flex;
}